

.dev img{
    height: 300px;
    transition: all 0.2s;
    border-radius: 100%;
    border: 2px solid rgb(3, 180, 18);
    padding: 0;
    max-width: 350px;
    size: 10px;
}

img:hover{
    transition: all 0.2s;
    border-radius: 25% ;
    border: 3px solid rgb(91, 255, 91);
}