@charset "UTF-8";

:root {
    --color1: #261a25;
    --color2: #bea8bf;
    --color3: #886d8c;
    --color4: #8721a6;
    --color5: #af36bf;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: auto;
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    
}

header {
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: var(--color4);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.459);
}

/* Barra Nav */
nav {
    padding: 10px;
    margin: auto;
    background-color: #58005885;
    text-align: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.356);
}


/* Button Nav */
button,button::after {
    padding: 10px 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    position: relative;
  }
  
  #sobre::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'sobre';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  #projetos::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'projetos';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }

  #certificados::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'certificado';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }

  #trabalhos::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'trabalho';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  
  button:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #f21dcf, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid rgb(48, 0, 58);
  }
  
  button:hover {
    text-shadow: -1px -1px 0px #f21dcf, 1px 1px 0px #E94BE8;
  }
  
  button:hover {
    background-color: transparent;
    border: 1px solid rgb(126, 0, 158);
    box-shadow: 0px 10px 10px -10px rgb(183, 0, 255);
  }
  
  @keyframes glitch_4011 {
    0% {
      clip-path: var(--move1);
      transform: translate(0px,-10px);
    }
  
    10% {
      clip-path: var(--move2);
      transform: translate(-10px,10px);
    }
  
    20% {
      clip-path: var(--move3);
      transform: translate(10px,0px);
    }
  
    30% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    40% {
      clip-path: var(--move5);
      transform: translate(10px,-10px);
    }
  
    50% {
      clip-path: var(--move6);
      transform: translate(-10px,10px);
    }
  
    60% {
      clip-path: var(--move1);
      transform: translate(10px,-10px);
    }
  
    70% {
      clip-path: var(--move3);
      transform: translate(-10px,10px);
    }
  
    80% {
      clip-path: var(--move2);
      transform: translate(10px,-10px);
    }
  
    90% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    100% {
      clip-path: var(--move1);
      transform: translate(0);
    }
  }


#pe{
  margin: 0;
  text-align: center;
}

#nick {
  margin: 0;
  width: 150px;
  
}

.fototeta  {
  width: 70%;
  height: 100%;
}

.fototeta img {
  display: block;
  margin:  auto;
}

.perfil img {
  margin-right:50px ;
  height: 150px;
  border-radius: 50%;
  transition: all 1s;
  border: 3px ridge #91499b;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.438);

}

.perfil img:hover {
  height: 200px;
  transition: all 0.7s;
  border-radius: 30%;
  border: 5px ridge #363fbf;
  
}

aside {
  display: flex;
}

main > article p {
    margin: 5px;
    font-weight: bold;
}

footer {
  background-color: gray;
}


main {
    margin: auto;
    padding-left: 20px;
    padding-top: 10px;
    background-color: #ffffff;
}

/* Fototeta*/
.box-img {
  left: 345px;
  width: 250px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.438);
}

.box-img {
  border: 3px solid #640d60;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius:  20px;
  border-bottom-right-radius:  20px;
}

.fpn, .pvc {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
}
.box-img:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;

}

span {
  padding: 4px;
  background-color: #530548a9;
  color: rgb(255, 255, 255);
  font-family:special Elite, Arial, Helvetica;
  font-size: 10px;
  display: inline-block;
  border-end-end-radius:  15px;
  border: 3px solid #490f44fa;
  

}


.pvc {
  left: 100%;
  transition:left 1s;
}

.box-img:hover .pvc {
  left: 0%;
}
  